<div id="background">
<div id="top"></div>
<div class="top-bar">
  <div class="container">
    <div class="logo">
      <h1>Meteora</h1>
    </div>
    <ion-item id="search">
      <ion-input [(ngModel)]="CityInput" placeholder="Enter City"></ion-input>
      <ion-button id="searchButton" (click)="searchCityWeather()">Search</ion-button>
    </ion-item>
  </div>
</div>

<!-- main data -->
<h2 id="city"> {{ City }}</h2>
<div class="main-content">
  <div class="weather-box">
    <h2>{{ Temperature }}°C</h2>
  </div>

  <!-- other weather data -->
  <div class="weather-data">
    <p><strong>Overview:</strong> {{ Description }}</p>
    <p><strong>To-do</strong> {{ Description[0]?.description }}</p>
    <p><strong>Wind Speed:</strong> {{ WindSpeed }} km/h</p>
  </div>
</div>
</div>